/* variables */
:root {
  /* color variables */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  /* font size variable */
  --xsmall: 12px;
  --small: 14px;
  --regular: 16px;
  --large: 18px;
  --xlarge: 24px;
  --xxlarge: 32px;
}

/* font family */
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Reset Default Style */
*,
*::before,
*::after {
  font-family: Ubuntu;
  box-sizing: border-box;
  margin: 0;
}